.previewMessage {
    height: 250px;
    position: absolute;
    bottom: 0;
    z-index: 10000000000;
}

.displayColumn {
    width: 100%;
    background: #fff;
}

.container {
    max-width: 800px;
}