.navbarBtn {
    padding: 20px !important;
}

.cartCount {
    color: white;
    background: #f14668;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -15px;
    margin-left: 5px;
}

.logo {
    width: 150px;
}