.searchMain {
    height: 60px !important;
    margin-top: 20px;
    font-size: 15px !important;
    padding: 20px;
    padding-left: 3.5em !important;

    input {
        width: 700px; 
    }

}

.iconSpan {
    top: '25px';
}